# Writing Functions

In [1]:
# Function to print a greeting message
def print_greeting():
    print('Hello!')

# Calling the function to test it
print_greeting()

Hello!

In [2]:
# Function to print a formatted date
def print_date(year, month, day):
    joined = f'{year}/{month}/{day}'
    print(joined)

# Calling the function with arguments
print_date(1776, 7, 4)

1776/7/4

In [3]:

# Example of how the function will throw an error if no arguments are passed
# Uncomment the line below to see the error
# print_date()

# Function to calculate library fine
def calc_fine(days_overdue):
    if days_overdue <= 10:
        fine = days_overdue * 0.25
    else:
        fine = (days_overdue * 0.25) + (days_overdue * 0.50)
    return fine

In [9]:
# Calculate fine for overdue days and format the output
days_overdue = 12 

fine = calc_fine(days_overdue)
print(f'Fine owed: ${fine:.2f}')

Fine owed: $9.00

In [10]:
# Example where function returns None because no explicit return
def print_date(year, month, day):
    joined = f'{year}/{month}/{day}'
    print(joined)

result = print_date(1970, 6, 21)
print(f'result of call is: {result}')

1970/6/21
result of call is: None

In [11]:

# Example of local and global variable scope
initial_fine = 0.25
late_fine = 0.50

def calc_fine(days_overdue):
    if days_overdue <= 10:
        days_overdue = days_overdue * initial_fine
    else:
        days_overdue = (days_overdue * initial_fine) + (days_overdue * late_fine)
    return days_overdue

days_overdue = 12 

# Using global variables in the function
fine = calc_fine(days_overdue)
print(f'Fine owed: ${fine:.2f}')
print(f'Fine rates: ${initial_fine:.2f}, ${late_fine:.2f}')

# Uncomment the line below to see the error because 'days_overdue' is a local variable
print(f'Days overdue: {days_overdue}')

Fine owed: $9.00
Fine rates: $0.25, $0.50
Days overdue: 12

In [12]:
# Function with docstring
def fahr_to_celsius(temp):
    """Convert fahrenheit values to celsius.
    Input a value in fahrenheit.
    Output a value in celsius."""
    return (temp - 32) * (5/9)

# Checking the function help documentation
help(fahr_to_celsius)

Help on function fahr_to_celsius in module __main__:

fahr_to_celsius(temp)
    Convert fahrenheit values to celsius.
    Input a value in fahrenheit.
    Output a value in celsius.

In [13]:
# Challenge: Writing an addition function
def addition(x, y):
    return x + y

# Testing the addition function
print(addition(3, 6))

9

In [14]:

# Bonus Challenge: Writing a grade converter function
def grade_converter(score):
    if score > 100 or score < 0:
        return 'Invalid score'
    elif score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

# Testing the grade converter function
print(grade_converter(88))

B

In [15]:
# Bonus Challenge: Identify global and local variables
fine_rate = 0.25

def calc_fine(days_overdue):
    if days_overdue <= 10:
        fine = days_overdue * fine_rate
    else:
        fine = (days_overdue * fine_rate) + (days_overdue * (fine_rate*2))
    return fine


total_fine = calc_fine(20)
print(f'Fine owed: ${total_fine:.2f}')

Fine owed: $15.00

In [18]:

# Bonus Challenge: Function to load CSVs into a Pandas DataFrame
import glob
import pandas as pd

def concat_csvs(path):
    dfs = []  # Empty list to store DataFrames
    for csv in sorted(glob.glob(path)):
        data = pd.read_csv(csv)
        dfs.append(data)
    
    # Concatenate all DataFrames into one
    df = pd.concat(dfs, ignore_index=True)
    return df

# Example of calling the concat_csvs function
df = concat_csvs('../data/*.csv')
df

,branch,address,city,zip code,january,february,march,april,may,june,july,august,september,october,november,december,ytd,year,Unnamed: 0,circulation
0,Albany Park,5150 N. Kimball Ave.,Chicago,60625.0,8427.0,7023.0,9702.0,9344.0,8865.0,11650.0,11778.0,11306.0,10466.0,10997.0,10567.0,9934.0,120059.0,NaN,NaN,NaN
1,Altgeld,13281 S. Corliss Ave.,Chicago,60827.0,1258.0,708.0,854.0,804.0,816.0,870.0,713.0,480.0,702.0,927.0,787.0,692.0,9611.0,NaN,NaN,NaN
2,Archer Heights,5055 S. Archer Ave.,Chicago,60632.0,8104.0,6899.0,9329.0,9124.0,7472.0,8314.0,8116.0,9177.0,9033.0,9709.0,8809.0,7865.0,101951.0,NaN,NaN,NaN
3,Austin,5615 W. Race Ave.,Chicago,60644.0,1755.0,1316.0,1942.0,2200.0,2133.0,2359.0,2080.0,2405.0,2417.0,2571.0,2233.0,2116.0,25527.0,NaN,NaN,NaN
4,Austin-Irving,6100 W. Irving Park Rd.,Chicago,60634.0,12593.0,11791.0,14807.0,14382.0,11754.0,14402.0,14605.0,15164.0,14306.0,15357.0,14069.0,12404.0,165634.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,West Pullman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,295327.0
1122,West Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,922876.0
1123,"Whitney M. Young, Jr.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0,259680.0
1124,Woodson Regional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,823793.0
1125,Wrightwood-Ashburn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,302285.0